header#document-header,
footer#document-footer
    .logo
        .logo-text
            @include meta
        
.project-meta,
.project-infos
    time
        background: var(--color-text)
        color: var(--color-background)
        padding: 0px 5px
        border-radius: 3px