header#document-header,
footer#document-footer
    .logo
        .logo-text
            @include meta
        
.project-meta,
.project-infos
    time
        background: var(--color-text)
        color: var(--color-background)
        padding: 0px 5px
        border-radius: 3px
.projects--list
    .project-description
        position: relative
        .project-meta
            margin-bottom: $spacing-1
            @include media-breakpoint-up(desktop)
                position: absolute
                right: 0
                top: 0
footer#document-footer
    .footer-logo
        display: none
    @include media-breakpoint-up(desktop)
        .footer-legals
            .footer-credit,
            .nav-legal li,
            .nav-legal 
                display: inline-block
            .nav-legal li
                margin-right: $spacing-3